<div class="homepage d-flex align-items-center justify-content-center flex-column">
  <h1>Running Log
  </h1>
  <h3>What would you like to do today</h3>
  <div class="d-flex justify-content-center">
    <%= link_to "Add a run to log?", log_run_path, class: "nav-link" %>
    <%= link_to "View running logs?", display_path, class: "nav-link" %>
  </div>
</div>
