<%# Homepage once signed in %>
<div class="homepage d-flex align-items-center justify-content-center flex-column">
  <h1>Run Tracker
  </h1>
  <h3>What would you like to do today</h3>
  <div class="d-flex justify-content-center">
    <%# Link to form for add enrty %>
    <%= link_to "Add an entry to log?", log_run_path, class: "nav-link", style: "color: white; border: 2px solid white; border-radius: 10px; margin: 10px;" %>
    <%# Link to running logs table %>
    <%= link_to "View running logs?", display_path, class: "nav-link", style: "color: white; border: 2px solid white; border-radius: 10px; margin: 10px" %>
  </div>
</div>
