<div class="d-flex align-items-center justify-content-center flex-column">
  <h1>Running Log
    <h1>
      <p>Welcome!</p>
      <h3>Sign In</h3>
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to "Hello, #{current_user.email}", edit_user_registration_path %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
