.form {
  padding: 10px;
  background-color: #f4f4f4;
  border: 2px solid #bbb;
  border-radius: 10px;
}

input[type="text"] {
  height: 30px;
}

.label {
  width: 100%;
  border-top: 1px solid #bbb;
  margin-top: 20px;
  padding-top: 5px;
}

.minMax {
  width: 100px;
}
